<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Order Summary</title>
</head>
<body>
<h2>Order Summary</h2>
<p>Product Name: <span th:text="${productName}"></span><br></p>
<p>Price: $<span th:text="${price}"></span></p>
<p>Order ID: <span th:text="${orderId}"></span></p>
<p>Order Date: <span th:text="${orderDate}"></span></p>
<br>
<form action="/customer-details" method="get">
  <button type="submit">Next</button>
</form>
</body>
</html>
